body .container {
    max-width: 100% !important;
    padding: 1rem;  /* optional: give a little padding */
}

body .mark {
  background-color: #fff9c4 !important; /* mellow yellow */
  padding: 0.1em 0.2em;     /* optional: nicer look */
  border-radius: 0.2em;     /* optional: softer corners */
}
